.AboutMeContent {
  height: min-content;
  width: 100%;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.backButton {
  display: flex;
  height: min-content;
  width: max-content;
  justify-content: flex-start;
  border: none;
  align-items: center !important;
  margin-left: -1rem;
  cursor: pointer;
}

.backButton svg {
  width: 1rem;
}
