.AboutMeContent {
  height: min-content;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.backButton {
  display: flex;
  height: min-content;
  width: max-content;
  justify-content: flex-start;
  border: none;
  align-items: center !important;
  margin-left: -1rem;
  cursor: pointer;
}

.backButton svg {
  width: 1rem;
}

.restOfDaCard {
  height: 100%;
  width: 100%;
}

.gallery {
  margin-top: -36px;
  height: calc(100% + 36px);
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.frame {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  border: 1px solid white;
  opacity: 0;
  border-radius: 15px;
}

.realStuff {
  margin-top: -36px;
  height: calc(100% + 36px);
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

h3 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  font-style: bold;
  font-size: 2rem;
  margin: 0px;
}

/* Chrome, Safari, Edge ---------------------------------------------- */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25); /* translucent white */
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 1); /* fully white on hover */
}

/* Firefox ------------------------------------------------------------ */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

.section {
  padding-top: 25%;
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
