.AboutMeContent {
  height: min-content;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.backButton {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0px;
  display: flex;
  height: min-content;
  width: max-content;
  justify-content: flex-start;
  border: none;
  align-items: center !important;
  cursor: pointer;
}

.backButton svg {
  width: 1rem;
}

.restOfDaCard {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 30px);
  width: calc(100% - 30px);
}

.gallery {
  margin-top: -36px;
  height: calc(100% + 36px);
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.frame {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  border: 1px solid white;
  opacity: 0;
  border-radius: 15px;
}

.realStuff {
  height: calc(100%);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

h3 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  font-style: bold;
  font-size: 2rem;
  margin: 0px;
}

/* Chrome, Safari, Edge ---------------------------------------------- */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25); /* translucent white */
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 1); /* fully white on hover */
}

/* Firefox ------------------------------------------------------------ */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

.intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-basis: 50%;
}

.intro a {
  font-weight: 100;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
}

a svg {
  height: 1rem;
}

.section {
  min-height: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-basis: 50%;
}

.skillSection {
  justify-content: center;
  display: flex;
  flex-wrap: wrap; /* allow wrapping */
  gap: 1rem; /* optional spacing */
  width: 100%;
  margin-top: 25px;
}

.skill {
  flex: 0 0 45%; /* 35% width, and allowed to shrink */
  padding: 5px;
  border: 1px solid white;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 5px;
  font-style: bold;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.skillLogos {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.logoEntry {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 200;
  font-size: 0.75rem;
}

.logoEntry svg {
  height: 1.5rem;
}

.introGraphic {
  flex-basis: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (orientation: portrait) {
  .backButton {
    font-size: 1.5rem;
    padding: 5px;
  }

  .backButton svg {
    width: 1.5rem;
  }

  .restOfDaCard {
    flex-direction: column !important;
  }

  .section {
    width: 100%;
  }

  .realStuff {
    width: 100%;
  }
}
