.sectionChild {
  flex-basis: 40%;
  padding: 25px;
}

.career {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.career svg {
  margin-top: 3px;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

h4 {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 25px;
  font-weight: 200;
  text-decoration: underline;
  text-decoration-thickness: 1px; /* set underline thickness */
  text-underline-offset: 3px; /* move underline down */
}

.sub {
  font-weight: 200;
  font-size: 0.9rem;
  margin-top: -4px;
}
