.HankCard {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: auto;
  position: absolute;
  top: 50%;
  left: 25%;
  padding: 10px;
  transform: translate(-50%, -50%);
  /* background-color: white; */
  border-radius: 10px;
  /* box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1), 0 0 2px rgba(0, 0, 0, 0.04); */
}

h1 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0px;
  padding: 0px;
  color: white;
  font-size: 4rem;
}

h2 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  color: white;
  margin: 0px;
  font-size: 2.25rem;
  margin-top: -25px;
}

.HankImage {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  margin: 5px;
}

.divider {
  height: min-content;
  margin-left: 4.5rem;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0);
  width: min-content;
}

nav {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 5px;
}

button {
  display: flex;
  width: max-content;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  padding: 10px 10px 10px 20px;
  cursor: pointer;
  gap: 2px;
}

.chevron {
  height: 1rem;
  width: 30px;
  margin-top: 3px;
}

.watchButton {
  color: white;
  font-weight: 200;
  font-size: 0.75rem;
}

nav button:hover {
}

nav button img {
  height: 1rem;
  fill: white;
  color: white;
}

nav svg {
  width: 1.5rem;
}

.sparkle {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 4.5rem;
  margin-top: 14px;
}

.contentSection {
  display: flex;
}

.contentContainer {
  margin-left: 2.25rem;
  border-left: 2px solid white;
}

.lineIcon {
  background-color: #0147ff;
  height: 1.5rem;
  transform: translateX(-52%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: max-content;
  margin-left: 4.5rem;
  gap: 10px;
}

a {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 5px;
}
