canvas {
  height: 100%;
  width: 100%;
  display: block;
}

#mountRef {
  display: none;
}

.header {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#mount {
  z-index: 9999;
}
