html,
body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  font-size: 20px;
}

#root {
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}
